<h1>Check in at <%= @venue[:title] %></h1>

<form action="/venues/<%= @venue[:id] %>/checkins/thankyou">
  <div class="form-group">
    <label>Have you played at this venue?</label>
    <select class="form-control" name="playedhere">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
  </div>

    <div class="form-group">
        <label>Reviews</label>
        <textarea class="form-control" rows="3" name="review"></textarea>
    </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>