<div class="row">
    <div class="col-sm-6">
        <h1>
            <%= @venue[:title] %>
        </h1>
        <p><%= @venue[:description] %></p>
        <p class="mt-5">
            <a href="/venues/<%= @venue[:id] %>/checkins/new" class="btn btn-primary">I've played here</a>
        </p>
    </div>